.logo-nombre{
  color: white;
  text-decoration: none;
}

h4:hover{
font-size: 1.6rem;
color:rgb(255, 162, 0);
}

.banner {
  background-image: url('https://fondosmil.com/fondo/65863.jpg');  
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0rem!important;
}

.hero-text {
  color: white;
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1); /* Agregar sombra */
}
